{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/homepage.css') }}">
{% endblock %}

{% block body %}
    <h1 style="padding-top: 50px">Modifier parfum</h1>

    {{ form_start(edit_form) }}
    <table>
        <thead>
        <tr>
            <th>Nom du parfum</th>
            <th>Parfum avec flacon</th>
            <th>Recharge (en ml)</th>
            <th>Ajout de parfum (en ml)</th>
            <th>Quantite Restante</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong>{{ form_widget(edit_form.name) }}</strong></td>
            <td style="min-width: 140px;text-align: center">
                <div>
                    <input type="button" value="30 ml" onClick="thirty(1)">
                    <input type="text" name="nameThirty" id="incThirty" readonly="true" class="fake">
                </div>
                <div>
                    <input type="button" value="50 ml" onClick="fifty(1)">
                    <input type="text" name="nameFifty" id="incFifty" readonly="true" class="fake">
                </div>
                <div>
                    <input type="button" value="100 ml" onClick="hundred(1)">
                    <input type="text" name="nameHundred" id="incHundred" readonly="true" class="fake">

                </div>

            </td>
            <td><input type="number" name="recharge" style="width: 100%"></td>
            <td><input type="number" name="addPerfum" style="width: 100%"></td>
            <td><span class="quantity">{{ perfum.quantity }} ml</span></td>
        </tr>
        </tbody>
    </table>

    <div style="text-align: center">
        <input type="submit" value="Modifier" class="btn btn-primary" />
    </div>
    {{ form_end(edit_form) }}
    <div style="text-align: center;padding-top: 10px;padding-bottom: 10px">
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-primary">
        {{ form_end(delete_form) }}
    </div>
    <div style="font-size: 15px;text-align: center">
        <a href="{{ path('homepage') }}">Retouner a la liste</a>
    </div>



    {% for message in app.flashes('erreur_bottle') %}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="color: red;text-align: center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('erreur_perfum') %}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="color: red;text-align: center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('erreur_recharge') %}
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-body">
                        <p style="color: red;text-align: center"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ message }}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
    {% block javascripts %}
        <script language="javascript">
            var valeurthirty=0;
            var valeurfifty=0;
            var valeurhundred=0;

            function thirty(increment) {
                valeurthirty+=increment;
                document.getElementById('incThirty').value=valeurthirty;
            }
            function fifty(increment) {
                valeurfifty+=increment;
                document.getElementById('incFifty').value=valeurfifty;
            }
            function hundred(increment) {
                valeurhundred+=increment;
                document.getElementById('incHundred').value=valeurhundred;
            }
        </script>
        <script>
            $(window).on("load", function () {
                $("#myModal").modal("show");
            });
        </script>
    {% endblock %}
